.main {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.match {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table {
  width: 100%;
  font-variant-numeric: tabular-nums;
}

.table td {
  width: 25%;
}